@import "custom";
@import "~bootstrap/scss/bootstrap";

h1 {
    font-size: 2rem;
}

a, a:hover {
    color: inherit;
}

a.icon {
    cursor: pointer;

    &:hover {
        color: $blue;
    }
}

.tag {
    margin-right: 5px;

    &:focus {
        outline: none;
        
        span.badge {
            box-shadow: 0 0 10px 0 black;
        }
    }
}

.breadcrumb-item {
    max-width: 100%;
}

[data-react-beautiful-dnd-droppable] {
    border: 3px solid transparent;
}

.drop_ready {
    border: 3px dashed $gray-300;
    background: $gray-100;
}

.drag_over {
    background: $gray-200;
}

#filter {
    display: flex;
    flex-wrap: wrap;
    min-height: 26px;
}

.breadcrumb-item, .break {
    word-wrap: break-word;
}

#files_table {
    table {
        table-layout: fixed;
    }

    tr {
        &.folder {
            cursor: pointer;
        }

        &.file {
            &.selected {
                background-color: $gray-300;
            }

            .file_tags {
                display: flex;
                flex-wrap: wrap;
            }

            .add_tag {
                cursor: pointer;
                display: inline-block;
                font-size: 100%;
                vertical-align: middle;
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 5px 0 $gray-600;
        }
    }
}

#tag_groups, #file_preview, #files_table {
    overflow: auto;
}

.tag_group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .tag {
        margin-bottom: 5px;
    }
}

#file_preview {
    iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
}

#tag_suggestions {
    button.selected {
        background-color: $gray-300;
    }
}
