@import "custom";
@import "~bootstrap/scss/bootstrap";

#files_component {
    tr {
        &.folder {
            cursor: pointer;
        }

        &.file {
            cursor: zoom-in;

            &.selected {
                background-color: grey;
            }
        }
    }
}

.tag {
    margin-right: 5px;
}

h1 {
    font-size: 2rem;
}
